@import url('https://fonts.googleapis.com/css2?family=Poppins');


* {
   color: white;
}

button{
   background-color: black;
}

input{
   background-color: black;
}

body{
   background: darkslategray;
 //  font-family: 'Poppins', sans-serif;
}