<app-header [getInput]= "input"></app-header>
<div appColorchanger [bgColor]="'orange'" [txtColor] = "'blue'">
   The directive div
</div>
<div appColorchanger [txtColor]="'pink'"
>
   Another directive, only text color
</div>


The data we received for the component : {{title}}

<!--interpolation binding-->
<img src = "{{imgSrc150}}" alt = "img not displayed">

<!--Property Binding => manipulating the dom-->
<img [src] = "imgSrc150" alt = "second image not displayed">

<!--Data binding => changing the attribute-->
<img [attr.src] = "imgSrc150" alt = "third image not displayed">

<table [border] = "1">
   <tr>
      <td [colSpan] = "cs">TD1</td>
      <td >TD2</td>
      <td >TD3</td>
   </tr>
   <tr>
      <td >TD1</td>
      <td >TD2</td>
      <td [attr.colspan] = "cs">TD3</td>   </tr>

</table>

{{ 2 == 2 ? title : "Restrict"}} <br>


<img [src] = "imgSize == 150  ? imgSrc150 :imgSrc250" alt = "no files found">


<div [className] = "class1" > Some div tag</div>

<div [className] = "newClass() ? class1 : class2"> Some other div</div>
<div [className] = "!newClass() ? class1 : class2"> Some other div</div>
<div [class.myClass]=false> some other new div tag</div>
<div [class.myClass]=true> another new div tag</div>
<div [class.myClass]="boolFunc()" [class.myClass2]="boolTrue"> Do birds really fly?</div>
<div
 [style.color]="style2 == true ? 'lightgreen' : 'magenta'"
 [style.background-color]="newStyle()"
 [style.border]="'3px solid black'"
 >
 Grapes aren't real
</div>

<button (click) ="onClick($event)">Click me!</button>
<button (mouseup) = "onEvent($event)">On double click</button><br>
{{twoWayData}}<br>
<input type="text"[(ngModel)]="inputVal"/><br>


<!--use *ng when you will be using the ng-template tag-->
<div *ngFor="let data of collectedData">
{{data}}<br>
</div>

<ul *ngFor="let data of collectedData">
   {{data}}<br>
</ul>

<ng-template [ngIf] = "ngIfStatus">
   <div>so ngIf is true</div>
</ng-template>

<div *ngIf= "ngIfStatus && ngIfStatus2 == false; then thenBlock; else elseBlock">
   So, the ngIfStatus variable is true.
</div>
<ng-template #thenBlock>
   So you went with the then block
</ng-template>

<ng-template #elseBlock>
   This the else block
</ng-template>

<ul>
   <li *ngFor = " let each of ngForArray">
      {{each}}
   </li>
</ul>

<ul *ngFor = "let each of ngForArray2 let i = index">
   <li>
      {{i}}) {{each.id}} - {{each.name}} - {{each.subject}}
   </li>
</ul>

<div [ngSwitch] ="ngSwitchSource">
   <div *ngSwitchCase = "'javascript'">
      so the source is javascript
   </div>
   <div *ngSwitchCase = "'Angular'">
      so the source is Angular
   </div>
   <div *ngSwitchCase = "'typescript'">
      so the source is typescript
   </div>
   <div *ngSwitchDefault>
      so the source is the default
   </div>
</div>

<div *appMyIf="ngMyIfCondition">
   This will show if ngMyIfCondition is true
</div>

<div *appMyIf="!ngMyIfCondition">
   This will show if ngMyIfCondition is false
</div>
